.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.tilannetiedot {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tilannetieto {
  width: 45%;
  margin-top: 1%;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tieto-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .tilannetietopankki-header {
    font-size: 32px;
  }
  .tilannetieto {
    width: 95%;
  }
}
